:root {
  /*
   * Base Colors
   * ======================================================================== */
   
   --clr-charcoal: #292D30;
   --clr-blk: #000000;
   --clr-wht: #ffffff;
   --clr-light-grey: #F0F2F5;

}
